__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib60/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/

.vscode/

.DS_Store
._*
.Spotlight-V100
.Trashes


llm_cache/
qdrant_db/

# Datasets
dataset
output_prvi_rad
dataset/train.json
dataset/test.json
dataset/synthetic_patients/
dataset/synthetic_patients_v2_100/
dataset/synthetic_patients_v3_300/
db/mimic3_demo/
db/mimic3_full/
db/prepared_csv/
db/prepared_full_csv/

*.sqlite3
*.db

*.swp
*.swo
*~ 


